<h1 class="h2">
  Products
</h1>
<section class="row mt-5">
  <div class="col-md-3 mb-3">
    <div class="input-group">
      <input class="form-control" type="search" [(ngModel)]="textSearch" placeholder="filter by name"  aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-info" (click)="orderBy = !orderBy">
          {{orderBy ? 'ASC':'DES'}} <fa-icon class="ml-1" [icon]="faSort"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-9 text-right mb-3">
    <button class="btn btn-primary" [disabled]="loadPage" (click)="open(content)"  >
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
</section>
<section class="row">
  <div class="col-md-12 pt-3">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col-1">Description</th>
            <th scope="col">Size</th>
            <th scope="col">Existence</th>
            <th scope="col">Boarding</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!products.data" >
            <td colspan="7">
              <img src="assets/img/load/arrow.gif" alt="icono de carga" class="animated_animated animated_fadeIn img-fluid icon-load-max mx-auto d-block" >
            </td>
          </tr>
          <tr *ngFor="let item of products.data | paginate: { itemsPerPage: products.per_page, currentPage: page, totalItems: products.total} | search:'name':textSearch | orderBy:'id':orderBy; let i = index" >
            <th scope="row">
              {{item.id}}
            </th>
            <td>
              {{item.name}} <br>
              <b>
                Brand:
              </b>
              {{item.brand.name}}
            </td>
            <td [title]=item.description >
              {{(item.description | slice:0:27)+(item.description.length >= 27 ? '...':'')  }}
            </td>
            <td>
              {{item.size}}
            </td>
            <td>
              {{item.existence}}
            </td>
            <td>
              {{item.boarding | date:'format':'MMM D, YYYY'}}
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-success"  [disabled]="loadPage" (click)="addToEdit(item);open(content)" >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button class="btn btn-sm btn-danger" (click)="delete(item.id, item.name)" *ngIf="!loadPage" [disabled]="loadPage"  >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                <button class="btn btn-sm btn-info" (click)="disabled(item.id, item.disabled)" [disabled]="loadPage"  >
                  <fa-icon [icon]="faBan" *ngIf="!item.disabled" ></fa-icon>
                  <fa-icon [icon]="faCheck" *ngIf="item.disabled" ></fa-icon>
                </button>
                <button class="btn btn-sm btn-ligth" *ngIf="loadPage" [disabled]="loadPage"  >
                  <img src="assets/img/load/arrow.gif" alt="icono de carga" class="animated_animated animated_fadeIn img-fluid icon-load-mini" >
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-end">
    <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Create / Edit Product
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="productForm" name="brandForm" >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [ngClass]="{ 'is-invalid': isValid().name.dirty && isValid().name.errors }" class="form-control" id="name" formControlName="name" [readonly]="loadPage"  >
        <small *ngIf="isValid().name.errors && isValid().name.dirty" class="form-text text-muted">
            Name is required
        </small>
      </div>

      <div class="form-group">
        <label for="size">Size</label>
        <select [ngClass]="{ 'is-invalid': isValid().size.dirty && isValid().size.errors }" class="form-control" id="size" formControlName="size" >
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
        </select>
        <small *ngIf="isValid().size.errors && isValid().size.dirty" class="form-text text-muted">
          size is required
        </small>
      </div>

      <div class="form-group">
        <label for="brand_id">Brand</label>
        <select [ngClass]="{ 'is-invalid': isValid().brand_id.dirty && isValid().brand_id.errors }" class="form-control" id="size" formControlName="brand_id" >
          <option [value]=item.id *ngFor="let item of brands" >
            {{item.name}}
          </option>
        </select>
        <small *ngIf="isValid().size.errors && isValid().size.dirty" class="form-text text-muted">
          brand is required
        </small>
      </div>

      <div class="form-group">
        <label for="existence">Existence</label>
        <input type="number" [ngClass]="{ 'is-invalid': isValid().existence.dirty && isValid().existence.errors }" class="form-control" id="existence" formControlName="existence" [readonly]="loadPage"  >
        <small *ngIf="isValid().existence.errors && isValid().existence.dirty" class="form-text text-muted">
          existence is required
        </small>
      </div>

      <div class="form-group">
        <label for="boarding">Boarding</label>
        <input type="date" [ngClass]="{ 'is-invalid': isValid().boarding.dirty && isValid().boarding.errors }" class="form-control" id="boarding" formControlName="boarding" [readonly]="loadPage"  >
        <small *ngIf="isValid().boarding.errors && isValid().boarding.dirty" class="form-text text-muted">
          Boarding is required
        </small>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea [ngClass]="{ 'is-invalid': isValid().description.dirty && isValid().description.errors }" class="form-control" id="description" formControlName="description" [readonly]="loadPage" ></textarea>
        <small *ngIf="isValid().description.errors && isValid().description.dirty" class="form-text text-muted">
          Description is required
        </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" (click)="modal.close('Save click');clearForm()">
          Cancel
        </button>
        <button type="submit" class="btn btn-outline-dark" [disabled]="productForm.invalid || loadPage" >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>
